<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">Logo</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/"></a>Home</li>
      <li><a href="/login">Login</a></li>
      <li><a href="/register">Register</a></li>
      <li id="logout"><a href="/logout">Log out</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a href="/"></a>Home</li>
  <li id="logout"><a href="/login">Login</a></li>
  <li><a href="/register">Register</a></li>
  <li><a href="/logout">Log out</a></li>
</ul>