{{!-- <div class="row">
    <div class="col s12 m6">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">login</span>
                <p>enter your email and password to login</p>
            </div>
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="material-icons prefix">person</i>
                            <input id="icon_telephone" class='username' type="text">
                            <label for="icon_telephone">username</label>
                        </div>
                    </div>
                    <div class="input-field col s6">
                        <i class="material-icons prefix">security</i>
                        <input id="icon_prefix" type="text" class="validate">
                        <label for="icon_prefix">password</label>
                    </div>
                </form>
            </div>
            <div class="card-action">
                <button type="submit" class="submitBtn">submit</button>
                <button></button>
                <a href="homepage">login</a>
                <a href="/register">register</a>
            </div>
        </div>
    </div>
</div> --}}
<div
  class="card
          align
          mx-4
          mt-4
          bg-secondary bg-gradient
          text-white
          customCard"
>
  <div class="card-body">
    <h3 class="card-title">Login</h3>
    <hr />

    <form id="login-form" class="card-body">
      <label class="form-label" for="username-login">Username</label>
      <br />
      <div class="input-group mb-3">
        <input
          id="username-login"
          type="text"
          class="form-control"
          aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-default"
        />
      </div>
      <label class="form-label" for="password-login">Password</label>
      <br />
      <div class="input-group mb-3">
        <input
          id="password-login"
          autocomplete="current-password"
          type="password"
          class="form-control"
          aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-default"
        />
      </div>
      <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary fs-5">Login!</button>
      </div>
      <br />
      <a class="login-link text-decoration-none" href="/register">Sign up instead</a>
    </form>
  </div>
</div>

<script src="/js/login.js"></script>